<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="grades">
        <%= render 'layouts/grades_list' %>
      </div>
      <div class="articles">
        <%= render 'layouts/article_list' %>
      </div>
    </div>
  </body>
