<% provide(:title, "#{@s.name}") %>
<!DOCTYPE html>
<html>
  <body id="home">
    <div class="row">
      <div class="side_menu col-3">
        <div class="grades">
          <%= render 'layouts/grades_list' %>
        </div>
        <div class="subjects">
          <%= render 'layouts/subjects_list' %>
        </div>
      </div>
      <div class="articles col-9">
        <%= render 'filtered/filtered_list' %>
      </div>
    </div>
  </body>
