// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #faf0e6;
}

#logo {
  color: white;
  text-transform: none;
}

.navbar-right > li {
  margin-right: 10px;
}

.menu-btn {
  border: 1px white solid;
}

#home {
  .grades {
    margin-bottom: 10px;
  }
}
