<footer class="footer">
  <small>
    COPYRIGHT © LITALICO Inc. ALL RIGHTS RESERVED.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Logout", logout_path %></li>
    </ul>
  </nav>
</footer>