<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Conavi", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "新規会員登録", signup_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
