<ul class="list-group subject-list">
  <li class="list-group-item"><%= link_to("国語", show_by_subject_path(1)) %></li>
  <li class="list-group-item"><%= link_to("算数", show_by_subject_path(2)) %></li>
  <li class="list-group-item"><%= link_to("理科", show_by_subject_path(3)) %></li>
  <li class="list-group-item"><%= link_to("社会", show_by_subject_path(4)) %></li>
</ul>
